* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.corporate{
    width: 100%;
    background-color: rgb(244, 245, 247 );
    /* border: 1px solid black; */
    height: 500px;
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.corporateContainer{
    width: 80%;
    height: 250px;
    background-color: rgb(55, 55, 228);
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.corporateContainer > h3 {
    font-size: 38px;
    font-weight: 500;
    color: white;
}

.corporateContainer > h6 {
    color: white;
    font-weight: 500;
    font-size: 17px;
}

.corporateContainer > button {
    width: 290px;
    height: 50px;
    border: none;
    background-color: white;
    color: rgb(100, 100, 248);;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}

.corporateContainer > button:hover {
    background-color: rgb(100, 100, 248);
    color: white;
}